
@media (min-width: 0px) and (max-width: 767px) {


article {
    background-color: var(--back);
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;

}


section {
    height: 100%;
    /* Установите высоту секций, чтобы они занимали всю доступную высоту элемента article */
    scroll-snap-align: start;
}


#One {
    background-image: url('./Assets/scrin2.webp');
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 0;
}

#One::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('ссылка_на_шум.jpg');
    opacity: 0.1;
    /* Настройте прозрачность шума по вашему усмотрению */
    z-index: -1;
    pointer-events: none;
    filter: noise(0.1);
    /* Измените значение шума по вашему усмотрению */
}

.OneText {
    width: 100%;
    height: 15vh;
    display: grid;
    place-items: center;
    color: var(--text);
    font-size: 7vh;
}

.OneButton {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

.OB_1 {
    width: 27vw;
    height: 8vh;
    border-radius: 5px;
    background-image: var(--buttongradient);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}
.OB_1 span {
    font-size: 1.5vh !important;
    font-family: monospace;
}

#fafawf span {
    font-size: 1.5vh !important;
    font-family: monospace;
}

#fafawf {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.OB_2 {
    width: 27vw;
    height: 8vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--buttongradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    text-decoration: underline;
    font-size: 2.6vh;
}

#Two {
    background-color: var(--back);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

}

.coloum1 {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: var(--text);
    flex-direction: column;
    margin: 0vw 5vw;
}

.coloum2 {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coloum2 img {
    height: 60vw;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 0px rgb(183, 183, 183);
    box-shadow: 3px 3px 0px rgb(183, 183, 183);

}

.coloum2 div {
    height: 60vw;
    width: 60vw;
    border-radius: 5px;
    -webkit-box-shadow: -3px 3px 0px rgb(183, 183, 183);
    box-shadow: -3px 3px 0px rgb(183, 183, 183);

    background-image: url('./Assets/scrin2.png');
    background-size: cover;
    background-position: center;
}

.BoldText1 {
    font-family: 'RobotoBold';
    font-size: 4vh;
    text-align: left;

}

.MedievalText1 {
    font-family: 'RobotoMain';
    font-size: 2.7vh;
    margin-top: 1vh;
    text-align: left;
}


#Three {
    background-color: var(--back);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

#Four {
    background-color: var(--back);
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

}

.checks {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    width: 80%;
    height: 25vh;
    margin: 7vh 0vh;
}

.checks div {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--text);
    font-family: 'RobotoMain';
    font-size: 2.4vh;
    display: flex;
    align-items: center;
}

.checks div:nth-child(odd) {
    justify-self: start;
}

.checks div:nth-child(even) {
    justify-self: end;
}







/* Hide the default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 5px;
}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 0px rgb(183, 183, 183);
    box-shadow: 2px 2px 0px rgb(183, 183, 183);
    margin-right: 2vw;
}

/* Create a custom checkbox */
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #ccc;
    border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
    -webkit-box-shadow: 3px 3px 0px rgb(183, 183, 183);
    box-shadow: 3px 3px 0px rgb(183, 183, 183);
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    opacity: 1;
    background-image: var(--buttongradient);
}

.container input~.checkmark {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    opacity: 1;
    -webkit-box-shadow: 1px 1px 0px rgb(183, 183, 183);
    box-shadow: 1px 1px 0px rgb(183, 183, 183);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
    opacity: 1;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}







.versions {
    width: 100%;
    height: 15vh;
    display: grid;
    place-items: center;
    color: var(--text);
    font-size: 5vh;
    margin: 10vh 0vh 0vh 0vh;
}

.download2 {
    width: 27vw;
    height: 8vh;
    border-radius: 5px;
    background-image: var(--buttongradient);
    color: var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
}




#scroll-progress-bar {
    width: 100%;
    height: 5px;
    background-color: rgba(175, 161, 161, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#scroll-progress-fill {
    height: 100%;
    background: var(--buttongradient);
    width: 0;
    transition: width 0.3s ease-out;
}



}